*{
    box-sizing: border-box;
}
h1{
    display: inline-block;
    margin: 20px;
    padding-top: 50px;
}

.clock{
    padding-left:;
}

.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}